{% extends "base.html" %}
<!-- Initialise active page for navigation -->
{% set active_page = "about" %}

<!-- Block Head -->
{% block head %}
<title>About • Felis Catus</title>
{% endblock %}

<!-- Block Body -->
{% block body %}
<div class="parallax"><div id="about" style="padding: 18% 0">
  <center class="focus-in-expand-fwd">
    <h1 style="font-size: 50px;">About</h1>
    <hr style="width: 40%;">
    <p>Want to know more about us?</p>
  </center>
  <!-- Interactive button w/ animation -->
  <section id="scrollDown" class="scroll">
    <a href="#1" style="color: white;"><span style="border-color: white;"></span>Scroll Down</a>
  </section>
</div></div>

<!-- 
  Content
-->

<div class="container text-start" id="1">
  <div class="row row-cols-2" id="heading-col">
    <!-- About -->
    <div class="col-8" data-aos="fade-down-right" data-aos-duration="1000">
      <h1>About</h1>
      <hr>
      <p><span class="fst-italic fw-medium">Felis Catus</span> is an interactive web application created by Christopher Khim. The application aims to help users, like yourselves, gain insights into the world of domestic cats. This web application was developed for the HSC IPT Major Project. A multimedia system was to be developed and programmed to be interactive with various media types including texts, images, videos, audio, and animation.</p>
    </div>
    <div class="col-2" data-aos="flip-left" data-aos-duration="3000">
      <img src="/static/image/neco.png" alt="neco cat" width="400px" height="auto">
    </div>
  </div>

  <div class="gap"></div>

  <div class="row row-cols-1" data-aos="zoom-in-left" data-aos-duration="1000">
    <!-- Technology -->
    <div class="col" id="heading-col">
      <h1>Technology</h1>
      <hr>
    </div>
    <div class="col">
      <p><span class="navbar-brand fst-italic fw-medium">Felis Catus</span> is built using Python and the Flask framework. The open-source code provided by Bootstrap was utilised and referenced to highlight credibility. This included the implementation of HTML, CSS, and JavaScript code with styling and special effects added.</p>
      <p>Other free services / software applications that were used in the making of this system are:</p>
      <ul>
        <li>Visual Studio Code</li>
        <li>Obsidian</li>
        <li>Blender</li>
        <li>Soundly</li>
        <li>Audacity</li>
        <li>GitHub</li>
        <li>The Cat API</li>
      </ul>
    </div>
  </div>
</div>
<div class="parallax">
  <div id="space"><div class="col">
    <center style="padding-top: 4%;"><h1 style="background-color: black; color: white; width: 80%;">This website would not be successful without a number of people!</h1></center>
  </div></div>
</div>
<div class="container text-start">
  <div class="row row-cols-2" data-aos="zoom-in-left" data-aos-duration="1000">
    <div id="heading-col">
      <h1>Meet the Team</h1>
      <hr>
    </div>
  </div>
  <div class="row row-cols-2" data-aos="zoom-in-left" data-aos-duration="1000">

    <!-- Team 1 -->
    <div class="col">
      <div class="card mb-3" style="max-width: 100%;">
        <div class="row g-0">
          <div class="col-md-4">
            <img class="team" src='/static/image/team1.jpg' onmouseover="this.src='/static/image/team2.jpg';" onmouseout="this.src='/static/image/team1.jpg';" />
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Christopher Khim</h5>
              <h6 class="card-subtitle mb-2 text-body-secondary">Programmer & Designer</h6>
              <p class="card-text">The sole member of the team. Having developed the design specifications and programmed the multimedia system, Christopher is fit to excel in IPT.</p>
              <a class="btn btn-primary shadow-drop-2-center" href="https://www.facebook.com/homebushbhs/" role="button" target="blank">View Profile <i class="bi bi-arrow-right"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Team 2 -->
    <div class="col">
      <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img class="team" width="100%" height="auto" src='/static/image/team3.jpg' onmouseover="this.src='/static/image/referral1.png';" onmouseout="this.src='/static/image/team3.jpg';" />
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Neco</h5>
              <h6 class="card-subtitle mb-2 text-body-secondary">Emotional Support</h6>
              <p class="card-text">The most vital role in the development team. As the support for Christopher's physical, mental, and emotional wellbeing, this website would not have been complete without the contributions from this team member!</p>
              <a class="btn btn-primary shadow-drop-2-center" href="https://www.facebook.com/homebushbhs/" role="button" target="blank">View Profile <i class="bi bi-arrow-right"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container text-center">
  <div class="row row-cols-1" data-aos="zoom-in">
    <!-- Social Media -->
    <div class="col" id="heading-col"><div class="gap"></div>
      <h1>Social Media</h1>
      <hr>
    </div>
  

    <!-- Social Media Icons -->
    <div class="row row-cols-3">
      <div data-aos="zoom-in">
        <div class="col">
          <a class="btn btn-danger shadow-drop-2-center" href="https://www.youtube.com/homebushbhs" role="button" target="blank" style="margin: 10%;"><i class="bi bi-youtube" style="font-size: 10vw; text-align: center;"></i></a>
          <center class="fs-5"><p><a class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover" href="https://www.youtube.com/homebushbhs">Youtube</a></p></center>
        </div>
      </div>
      <div data-aos="zoom-in">
        <div class="col">
          <a class="btn btn-secondary shadow-drop-2-center" href="https://x.com/homebushbhs" role="button" target="blank" style="margin: 10%;"><i class="bi bi-twitter-x" style="font-size: 10vw; text-align: center;"></i></a>
          <center class="fs-5"><p><a class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover" href="https://x.com/homebushbhs">Twitter / X</a></p></center>
        </div>
      </div>
      <div data-aos="zoom-in">
        <div class="col">
          <a class="btn btn-primary shadow-drop-2-center" href="https://www.facebook.com/homebushbhs/" role="button" target="blank" style="margin: 10%;"><i class="bi bi-facebook" style="font-size: 10vw; text-align: center;"></i></a>
          <center class="fs-5"><p><a class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover" href="https://www.facebook.com/homebushbhs/">Facebook</a></p></center>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="gap"></div>
<!-- 
  Feedback Form 
-->
<div class="container text-start" style="padding-top: 4%;">
  <h1>Got feedback?</h1>
  <hr>
{% if feedback == False %}
  <p>Got problems or want to contact us? Provide us with your information and we'll get back to you!</p>
  <form method="POST" action="/about" target="_self">
    <div class="mb-3">
      <div class="form-floating">
        <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com" name="feedback-email">
        <label for="floatingInput">Email address</label>
      </div>
    </div>
    
    <!-- Comments - text field -->
    <div class="mb-3">
      <div class="form-floating">
        <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px" name="feedback-comment"></textarea>
        <label for="floatingTextarea2">Comments</label>
      </div>
    </div>

    <!-- Submit form button -->
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
{% else %}
<p>Thank you for your feedback! We will get back to you as soon as possible to resolve the issue!</p>
{% set feedback = False %}
<!-- Submit form button -->
<a  type="button" role="button" class="btn btn-primary" href="/about">Submit another feedback?</a>
{% endif %}


{% endblock %}