{% extends "base.html" %}
<!-- Initialise active page for navigation -->
{% set active_page = "features" %}

<!-- Block Head -->
{% block head %}
<title>Features • Felis Catus</title>
{% endblock %}

<!-- Block Body -->
{% block body %}

<!-- 
    Introduction
-->
<center class="focus-in-expand-fwd">
  <h1 style="font-size: 50px;">Features</h1>
  <hr style="width: 40%;">
  <p>Our services will cater towards your liking!</p>
</center>
<!-- Interactive button w/ animation -->
<section id="scrollDown" class="scroll">
  <a href="#1"><span></span>Scroll Down</a>
</section>


<div class="container" style="padding-top: 15%;">
  <!-- Cat Search Demo -->
  <div class="row row-cols-1">
    <div data-aos="fade-right" data-aos-duration="1400">
      <div class="col text-start" style="background-color: red; margin: 30% 0;" id="1">
        <h1>Cat Search</h1>
        <hr width="100vw">
        <p>Want to find a specific domestic breed or want to discover more cats?</p>
        <p>[INSERT SAMPLE DEMONSTRATION VIDEO]</p>
      </div>
    </div>

  <!-- Daily Cat Fact Demo -->
  <div data-aos="fade-left" data-aos-duration="1400">
    <div class="col text-end" style="background-color: red; margin: 30% 0;">
      <h1>Daily Cat Fact</h1>
      <hr>
      <p>Interested to learn a cat fact everyday?</p>
      <p>Our web application provides you with the latest and sublime cat facts!</p>
      <p>[INSERT SAMPLE DEMONSTRATION VIDEO]</p>
    </div>
  </div>

  <!-- Random Cat Image Demo -->
  <div data-aos="fade-right" data-aos-duration="1400">
    <div class="col text-start" style="background-color: red; margin: 30% 0;">
      <h1>Random Cat Images</h1>
      <hr>
      <p>A wild cat appeared!</p>
      <p>[INSERT SAMPLE DEMONSTRATION VIDEO]</p>
    </div>
  </div>

  <div data-aos="fade-left" data-aos-duration="1400">
    <div class="col text-end" style="background-color: red; margin: 30% 0;">
      <h1>Demo Cat Audio</h1>
      <hr>
      <audio controls>
        <source src="/static/audio/Human-Cat-Meow.wav" type="audio/wav">Your browser does not support the audio element.
      </audio>
    </div>
  </div>
</div>


{% endblock %}