{% extends "base.html" %}
<!-- Initialise active page for navigation -->
{% set active_page = "features" %}

<!-- Block Head -->
{% block head %}
<title>Features • Felis Catus</title>
{% endblock %}

<!-- Block Body -->
{% block body %}

<!-- 
    Introduction
-->
<div class="parallax"><div id="background" style="padding: 18% 0">
  <center class="focus-in-expand-fwd titleFeatures">
    <h1 style="font-size: 50px;">Features</h1>
    <hr style="width: 40%;">
    <p>Our services will cater towards your liking!</p>
  </center>
  <!-- Interactive button w/ animation -->
  <section id="scrollDown" class="scroll">
    <a href="#1" style="color: white;"><span style="border-color: white;"></span>Scroll Down</a>
  </section>
</div></div>
<hr>

<!-- 
  Content
-->

<div class="container text-start" id="1">
  <div class="row row-cols-2" id="heading-col">
    <!-- About -->
    <div class="col-8" data-aos="fade-down-right" data-aos-duration="1000">
      <h1>Cat Search</h1>
      <hr>
      <p>The interactive cat search feature is here! The newly implemented search feature will display information on a particular breed of cats.</p>
      <p>Information on the cat's breed, origins, life span, and an external Wikipedia link is sourced to provide the best service to our users!</p>
    </div>
    <div class="col-2" data-aos="flip-left" data-aos-duration="3000">
      <img src="/static/image/BrowseScreenShot.png  " alt="Cat" width="400px" height="auto">
    </div>
  </div>

  <div class="gap"></div>

  <div class="row row-cols-2" id="heading-col">
    <!-- About -->
    <div class="col-8" data-aos="fade-down-right" data-aos-duration="1000">
      <h1>Learn</h1>
      <hr>
      <h3>Read through our intensive article detailing everything about cats!</h3>
      <p>Our service will guide the user into a resource that displays an informative and interactive environment. At the end, users will be able to:</p>
      <ul>
        <li>Demonstrate a wide understanding of cats in general</li>
        <li>Recall the history and origin of cats</li>
        <li>Unnderstand the cat's influence on modern society</li>
      </ul>
    </div>
    <div class="col-2" data-aos="flip-left" data-aos-duration="3000">
      <img src="/static/image/features.gif" alt="Cat" width="400px" height="auto">
    </div>
  </div>
  
  <div class="gap"></div>
  
  <div class="row row-cols-1" id="heading-col">
    <!-- About -->
    <div class="col" data-aos="fade-down-right" data-aos-duration="1000">
      <h1>Cat Vocal Communication</h1>
      <hr>
      <h3>Interact with the various collection of cat sounds!</h3>
      <p>Our services provide users with a multitude of audio files that play a specific vocal communication from cats! Ranging from the meows of a cat to the scratching of a hard surface, users can freely explore the wonders of cats to their hearts content!</p>
      <p><b>Here is a demo audio of a cat!</b></p>
      <audio controls>
        <source src="/static/audio/Human-Cat-Meow.wav" type="audio/wav">Your browser does not support the audio element.
      </audio>
    </div>
  </div>

</div>


{% endblock %}