{% extends "base.html" %}
<!-- Initialise active page for navigation -->
{% set active_page = "index" %}

<!-- Block Head -->
{% block head %}
<title>Index • Felis Catus</title>
{% endblock %}

<!-- Block Body -->
{% block body %}

<!-- 
    Introduction
-->
<div class="title" style="padding-top: 14%;">
  <div class="container text-start tracking-in-expand" style="padding-top: 5%; padding-bottom: 14%;" data-aos="zoom-in-right" data-aos-duration="1000">
    <div class="row col">
      <h1><i>Felis Catus</i></h1>
      <hr style="max-width: 40%;">
    </div>
    <div class="col">
      <p>Supplying users with the reliable and likeable cat sources!</p>
    </div>
    <div class="col">
      <!-- The Glow Button -->
      <a href="/login" class="GlowingButton" target="self" role="button" style="width: 160px;">
        <!-- Glow -->
        <div class="GlowingButton__glowWrap l"><span class="GlowingButton__glow"></span></div>
        <div class="GlowingButton__glowWrap r"><span class="GlowingButton__glow"></span></div>
        <!-- Overlay -->
        <span class="GlowingButton__overlay"></span>
        <!-- Content -->
        <div class="GlowingButton__content" style="height: 70%; color: black;">
            <span>Get Started > </span>
            <span>Get Started > </span>
        </div>
      </a>
    </div>
  </div>
  <!-- Interactive button w/ animation -->
  <section id="scrollDown" class="scroll">
    <a href="#1" style="color: white;"><span style="border-color: white;"></span>Scroll Down</a>
  </section>
</div>
<hr>

<!-- Information -->
<div class="container text-center" id="1">
  <div class="row row-cols-2" style="margin-top: 6%;">
    <div class="col">
      <div class="grid"><div><h2>Who we are</h2></div></div>
      <p style="margin-top: 2%;""><span class="fst-italic fw-medium">Felis Catus</span> is an interactive web application created by Christopher Khim. The application aims to help users, like yourselves, gain insights into the world of domestic cats. This web application was developed for the HSC IPT Major Project. A multimedia system was to be developed and programmed to be interactive with various media types including texts, images, videos, audio, and animation.</p>
      <a type="button" role="button" class="btn btn-primary" href="/about">About Us</a>
    </div>
    <div class="col">
      <div class="grid"><div><h2 style="font-size: 30px;">What our services offer</h2></div></div>
      <p style="margin-top: 2%;"">Our website aims to cater towards the wider audience of all ages!</p>
      <p>We offer services that are interactive and engaging to the users.</p>
      <p>Some features that are offered are:</p>
      <ul>
        <li>Random Cat Image Generator</li>
        <li>Hearing of Cat Vocal Communication</li>
        <li>A dedicated research article outlining everything about domestic cats</li>
        <li>Funny Cat Image Generator</li>
      </ul>
      <a type="button" role="button" class="btn btn-primary" href="/features">Features</a>
    </div>
  </div>

  <!-- 
    Get Started
  -->
  <hr style="margin-top: 5%;">
  <div class="row col" style="margin: 10% 0 4%;">
    <div class="grid"><div><h2 style="font-size: 42px;">Get Started!</h2></div></div>
    <p style="margin-top: 2%;">Access more with our services just by signing up!</p>
  </div>

  <div class="row row-cols-3">
    <div class="col">
      <h2>Search</h2>
      <center><hr width="50%" style="border-width: 3px;"></center>
      <p>Intrigued to find out what domestic cat you might find?</p>
      <p>Our trusty cat image search generator offers the best service for discovering the various cat breeds!</p>
    </div>
    <div class="col">
      <h2>Vocals</h2>
      <center><hr width="50%" style="border-width: 3px;"></center>
      <p>Ever wondered what a cat sounded like?</p>
      <p>Our website offers you with a large collection of audio files, specifically for identifiying what emotions they're expressing. </p>
    </div>
    <div class="col">
      <h2>Learn</h2>
      <center><hr width="50%" style="border-width: 3px;"></center>
      <p>Learn about the wide range of domestic cats, ranging from breeds to origins!</p>
      <p>Our detailed article uncovers everything about domestic cats, ranigng from their anatomy to their involvement in modern culture!</p>
    </div>
  </div>

  <hr>
  <!-- 
    Referrals
  -->
  <h2 style="padding-top: 10%; padding-bottom: 4%;">Not convinced yet? Hear what others have to say about our services!</h2>

  <div class="card mb-3" style="max-width: 700px;">
    <div class="row g-0 text-start">
      <div class="col-md-4">
        <img src="/static/image/referral1.png" class="img-fluid rounded-start" alt="referral1" width="100%" height="auto">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">XxCuteCatxX3000</h5>
          <p class="card-text">5/5. Straightout. Best website of all time. I got to learn everything about domestic cats! Now I become one with the cute cats!</p>
          <p class="card-text"><small class="text-body-secondary">Last updated 2 weeks ago</small></p>
        </div>
      </div>
    </div>
  </div>
  
  <div class="card mb-3" style="max-width: 700px; margin-left: 40%;">
    <div class="row g-0 text-end">
      <div class="col-md-4">
        <img src="/static/image/referral2.png" class="img-fluid rounded-start" alt="referral2" width="100%" height="auto">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">CatEater3000</h5>
          <p class="card-text">I heard there was a website that had cats... And it was right! I got to discover many, many, many, many, many, many, many, many, many, cats! All this talk is making me hungry...</p>
          <p class="card-text"><small class="text-body-secondary">Last updated 5 days ago</small></p>
        </div>
      </div>
    </div>
  </div>

  <div class="card mb-3" style="max-width: 700px;">
    <div class="row g-0 text-start">
      <div class="col-md-4">
        <img src="/static/image/referral3.jpg" class="img-fluid rounded-start" alt="referral3" width="100%" height="auto">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Help_Cat_Food_XD</h5>
          <p class="card-text">Meow meow meow. Meow, meow meow meow. Meow? Meow?? MEOOOOOWWWWWWW!!!!!!!!</p>
          <p class="card-text"><small class="text-body-secondary">Last updated 1 hour ago</small></p>
        </div>
      </div>
    </div>
  </div>



</div>
{% endblock %}