{% extends "base.html" %}
<!-- Initialise active page for navigation -->
{% set active_page = "index" %}

<!-- Block Head -->
{% block head %}
<title>Index • Felis Catus</title>
{% endblock %}

<!-- Block Body -->
{% block body %}

<!-- 
    Introduction
-->
    <!-- Parallax -->
<div class="parallax"><div id="index" style="padding-top: 8%;">
  <div class="container text-start tracking-in-expand" style="padding-top: 5%; padding-bottom: 14%;" data-aos="zoom-in-right" data-aos-duration="1000">
    <div class="row col">
      <h1 style="font-size: 8vw;"><i>Felis Catus</i></h1>
      <hr style="max-width: 40%;">
    </div>
    <div class="col">
      <h3>Supplying users with the reliable and likeable cat sources!</h3>
    </div>
    <div class="col">
      <!-- The Glow Button -->
      <a href="/login" class="GlowingButton" target="self" role="button" style="width: 160px;">
        <!-- Glow -->
        <div class="GlowingButton__glowWrap l"><span class="GlowingButton__glow"></span></div>
        <div class="GlowingButton__glowWrap r"><span class="GlowingButton__glow"></span></div>
        <!-- Overlay -->
        <span class="GlowingButton__overlay"></span>
        <!-- Content -->
        <div class="GlowingButton__content" style="height: 70%; color: black;">
            <span>Get Started > </span>
            <span>Get Started > </span>
        </div>
      </a>
    </div>
  </div>
  <!-- Interactive button w/ animation -->
  <section id="scrollDown" class="scroll">
    <a href="#1" style="color: white;"><span style="border-color: white;"></span>Scroll Down</a>
  </section>
  <hr>
</div></div>


<!-- Information -->
<div class="container text-center" id="1">
  <div class="row row-cols-1" style="margin-top: 6%;">
    <div class="col" data-aos="zoom-out-down" data-aos-duration="1500">
      <div class="grid"><div><h2>Who we are</h2></div></div>
      <p style="margin-top: 2%;""><span class="fst-italic fw-medium">Felis Catus</span> is an interactive web application created by Christopher Khim. The application aims to help users, like yourselves, gain insights into the world of domestic cats. This web application was developed for the HSC IPT Major Project. A multimedia system was to be developed and programmed to be interactive with various media types including texts, images, videos, audio, and animation.</p>
      <a type="button" role="button" class="btn btn-primary" href="/about">About Us</a>
    </div>
    <div class="col" style="margin-top: 10%;" data-aos="zoom-out-down" data-aos-duration="1500">
      <div class="grid"><div><h2 style="font-size: 30px;">What our services offer</h2></div></div>
      <p style="margin-top: 2%;"">Welcome to Felis Catus, your ultimate destination for all things feline! Our website is designed to delight cat enthusiasts with a variety of engaging features:</p>
      <p>We offer services that are interactive and engaging to the users.</p>
      <p>Some features that are offered are:</p>
      <ul>
        <li><b>Random Cat Images:</b> Need a dose of cuteness? Our random cat image generator serves up adorable pictures of cats to brighten your day.</li>
        <li><b>Cat Sounds:</b> Immerse yourself in the world of cats by listening to the sounds they make. From purrs to meows, explore the diverse vocalizations of our furry friends.</li>
        <li><b>Learn About Cats:</b> Dive into our informative articles to discover fascinating facts about cats. Whether you're interested in their history, behavior, or care tips, our content has you covered.</li>
        <li><b>Search Feature: </b>Looking for something specific? Use our search feature to quickly find information, images, or sounds related to cats.</li>
      </ul>
      <p>At Felis Catus, we celebrate the charm and mystery of cats, offering a delightful experience for cat lovers everywhere. Enjoy exploring and discovering the wonders of our feline friends!</p>
      <a type="button" role="button" class="btn btn-primary" href="/features">Features</a>
    </div>
  </div>
</div>

<div class="parallax">
  <div id="space"><div class="col">
    <center style="padding-top: 6%;"><h1 style="background-color: black; color: white; width: 50%;">Our services are free!</h1></center>
  </div></div>
</div>

<div class="container text-center">
  <!-- 
    Get Started
  -->
  <div data-aos="fade-left"
  data-aos-anchor="#example-anchor"
  data-aos-offset="2000"
  data-aos-duration="500">
    <div class="row col" style="margin: 4% 0;">
      <div class="grid"><div><h2 style="font-size: 42px;">Get Started!</h2></div></div>
      <p style="margin-top: 2%;">Access more with our services just by signing up!</p>
    </div>
  </div>

  <div class="accordion" id="accordionExample">
    <div class="accordion-item" data-aos="flip-left" data-aos-duration="1000">
      <h2 class="accordion-header">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          <h4>Random Cat Image Generator & Search</h4>
        </button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <p>Intrigued to find out what domestic cat you might find? Look no further for this feature will indulge you in endless moments of feline delight! </p>
          <p>Here, every click reveals a new, adorable cat picture to brighten your day. Whether you're looking for a quick smile, some inspiration, or just a break from your routine, our collection of random cat images is perfect for any cat lover. Each photo showcases the unique charm and personality of cats, capturing their playful antics, curious expressions, and serene moments. Dive into the delightful world of cats and let each image bring a touch of joy and warmth to your heart!</p>
        </div>
      </div>
    </div>
    <div class="accordion-item" data-aos="flip-left" data-aos-duration="1200">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          <h4>Cat Vocal Communication</h4>
        </button>
      </h2>
      <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <p>Ever wondered what a cat sounded like? Well, this section is your gateway to the fascinating vocal world of our feline friends! </p>
          <p>Here, you can explore a variety of authentic cat sounds, from soothing purrs and gentle meows to playful chirps and curious trills. Each sound clip offers a glimpse into the diverse ways cats communicate, expressing everything from affection and contentment to curiosity and excitement. Whether you're a cat owner wanting to understand your pet better or simply a cat enthusiast, our collection of cat sounds is sure to captivate and entertain. Immerse yourself in the delightful symphony of cat vocalizations and deepen your appreciation for these enchanting creatures!</p>
        </div>
      </div>
    </div>
    <div class="accordion-item" data-aos="flip-left" data-aos-duration="1200">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          <h4>Learn</h4>
        </button>
      </h2>
      <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <p>Learn about the wide range of domestic cats, ranging from breeds to origins!</p>
          <p>We provide you with a comprehensive resource for all things feline! Here, you'll find a wealth of informative articles covering a wide range of topics about cats. Discover the rich history of cat domestication, understand the nuances of their behavior, and get practical tips on cat care and health. Whether you're a new cat owner seeking guidance or a seasoned cat enthusiast looking to expand your knowledge, our expertly curated content offers valuable insights and fascinating facts. Dive into our engaging articles and enhance your understanding and appreciation of these remarkable animals.</p>
        </div>
      </div>
    </div>
  </div>



  <hr style="margin: 10% 0;">
  <!-- 
    Referrals
  -->
  <h2 style="margin-bottom: 8%;" data-aos="fade-right" data-aos-duration="1600">Not convinced yet? Hear what others have to say about our services!</h2>

  <div class="card mb-3" style="max-width: 700px;" data-aos="zoom-in-right" data-aos-duration="1400">
    <div class="row g-0 text-start">
      <div class="col-md-4">
        <img src="/static/image/referral1.png" class="img-fluid rounded-start" alt="referral1" width="100%" height="auto">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">XxCuteCatxX3000</h5>
          <p class="card-text">10/10. Straightout. Best website of all time. I got to learn everything about domestic cats! Now I become one with the cute cats!</p>
          <p class="card-text"><small class="text-body-secondary">Last updated 2 weeks ago</small></p>
        </div>
      </div>
    </div>
  </div>
  
  <div class="card mb-3" style="max-width: 700px; margin-left: 40%;" data-aos="zoom-in-left" data-aos-duration="1400">
    <div class="row g-0 text-end">
      <div class="col-md-4">
        <img src="/static/image/referral2.png" class="img-fluid rounded-start" alt="referral2" width="100%" height="auto">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">SussyCat</h5>
          <p class="card-text">I heard there was a website that had cats... And it was right! I got to discover many, many, many, many, many, many, many, many, many, cats! All this talk is making me hungry...</p>
          <p class="card-text"><small class="text-body-secondary">Last updated 5 days ago</small></p>
        </div>
      </div>
    </div>
  </div>

  <div class="card mb-3" style="max-width: 700px;" data-aos="zoom-in-right" data-aos-duration="1400">
    <div class="row g-0 text-start">
      <div class="col-md-4">
        <img src="/static/image/referral3.jpg" class="img-fluid rounded-start" alt="referral3" width="100%" height="auto">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Help_Cat_Food_XD</h5>
          <p class="card-text">Meow meow meow. Meow, meow meow meow. Meow? Meow?? MEOOOOOWWWWWWW!!!!!!!!</p>
          <p class="card-text"><small class="text-body-secondary">Last updated 1 hour ago</small></p>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}