{% extends "/base.html" %}
<!-- Initialise active page for navigation -->
{% set active_page = "learn" %}

<!-- Block Head -->
{% block head %}
<title>Learn • Felis Catus</title>
{% endblock %}

<!-- Block Body -->
{% block body %}


<center class="focus-in-expand-fwd titleLearn" style="padding: 14% 0 30%">
  <h1 style="font-size: 50px;">Learn</h1>
  <hr style="width: 40%;">
  <p>Get ready to learn everything about domestic cats!</p>
</center>
<!-- Interactive button w/ animation -->
<section id="scrollDown" class="scroll">
  <a href="#1" style="color: white;"><span style="border-color: white;"></span>Scroll Down</a>
</section>

<!-- 
Content
-->
<hr>
<main>
  <!-- Table of Contents -->
  <aside class="sticky">
    <h3>Table of Contents</h3>
    <ol>
      <li><a href="#1">Overview</a></li>
      <li><a href="#2">Description</a></li>
      <li><a href="#3">Anatomy</a></li>
      <li><a href="#4">Human Interaction</a></li>
      <ol>
        <li><a href="#4.1">Origin</a></li>
        <li><a href="#4.2">Modern Culture</a></li>
      </ol>
      <li><a href="#5">Want More?</a></li>
    </ol>
  </aside>

  <!-- Introduction -->
  <section class="article">
    <div class="intro" id="1">
      <h1>Overview</h1>
      <p>Domestic cats, known scientifically as Felis catus, are small, carnivorous mammals that have been domesticated by humans for thousands of years. Renowned for their agility, playful behaviour, and keen hunting instincts, cats are popular pets in households worldwide. They have a wide range of coat colours and patterns, making each cat unique. Cats are also known for their independent nature, often forming close bonds with their human companions while maintaining a level of autonomy. With their gentle purring, playful antics, and affectionate behaviour, domestic cats bring joy and companionship to millions of people.</p>
    </div>

    <div class="grid">
      <div id="2"><h2>Description</h2></div>
      <p>Felis Catus, the Latin or scientific term for domestic or house cats, are small carnivorous mammals that resides in a domicile, meaning they are properly fed and cared for by humans. They are about 28 inches in size and weight between 5 to 20 pounds.</p>
      <p>Formerly kept for the task of hunting mice, cats nowadays remain as pets and companions due to their friendly and playful attributes they possess. </p>
      <p>Cat breeds vary by origins, sizes, and coat types ranging from shorthair to longhair and hairless breeds. </p>
      <p>Young cats, or youths, are referred to as kittens. The word cat also refers to other feline species that includes large wild cats such as lions, cheetahs, leopards, jaguars, tigers, pumas, and lynx, however, we will primarily focus on the lovable creatures you might have in your very home!</p>
      
      <div id="3"><h2>Anatomy</h2></div>
      <p>Domestic cats are characterised by their sleek body structure, their sharp and retractable claws, acute senses, long tails, and specialised teeth for the purpose of hunting prey. Originating with a background of hunting, cats are built to be agile and stealthy when pursuing their prey. The lithe muscle in their body grants them the ability to sprint at high speeds or traverse quietly in the shadows. Their claws can latch onto rough surfaces and due to how lightweight they are, they can steadily climb steep structures. </p>
      <p>Cats communicate through the speech of meows, purrs, and hisses. Like humans, they share an emotion and express these emotions through their actions. </p>
      <p>Their large, expressive eyes have a layer called a tapetum lucidum, which enhances night vision, making these animals effective night hunters. </p>
      <p>Whiskers, their most predominant facial feature, helps them navigate through tight spaces and detect neighbouring objects. It is ultra-sensitive to touch. Their sense of hearing can pick up high-frequency sounds while their sense of smell can enhance their familiarity with the environment around them. </p>

      <div id="4"><h2>Human Interaction</h2></div>
    </div>

    <!-- Including subheadings -->
    <div class="intro">
      <div id="4.1">
        <h3>Origin</h3>
        <center><hr></center>
        <p>Over 4,000 years, humans have been domesticating cats. Originating back in ancient Egypt, cats were viewed to control pests from granaries and were a symbol of divinity. Cats were cherished by many humans, and as such, were seen as divine protectors and the embodiment of good fortune inhabited by gods. As seen across many Egyptian structures, cat images are carved onto such objects, be it walls of tombs or artifacts. Cat mummies were also discovered along with mouse mummies, possibly to provide food for the cats in the afterlife. </p>
        <p>Cats have long been prominent in many other cultures too. In Asian culture, cats were viewed as a symbol of prosperity and fortune, bringing about good luck to its residents. </p>
      </div>
      <div id="4.2">
        <h3>Modern Culture</h3>
        <center><hr></center>
        <p>This mutual relationship with humans gradually spread globally, with cats becoming one’s beloved companions. In Japan, the Maneki-neko, the “beckoning cat”, is portrayed as having one raised paw and displaying a white and red colour. </p>
        <p>With the modernisation of society, cats have been incorporated into many works of art and culture, particularly pop culture. For example, the Cheshire Cat in “Alice in Wonderland” to the musical play “Cats” based on T.S. Eliot’s poems. </p>
        <p>While domestic cats are friendly and lovable creatures to humans, the feral cat populations can unintentionally impact local ecosystems. Their expertise in the field of hunting and their heightened senses in smell, touch, and hearing, are problematic when conserving a balanced ecosystem where all creatures can live in peace and harmony. Conservation efforts are employed by humans to protect the native wildlife. </p>
      </div>
    </div>

    <div class="grid">
      <div id="5"><h2>Want more?</h2></div>
      <p>Check out some videos we recommend for you to watch for the benefit of gaining knowledge on domestic cats!</p>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/pX3V9hoX1eM?si=ciwkrwpVt9JUE7es" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
  </section>
</main>



{% endblock %}