{% extends "/base.html" %}
<!-- Initialise active page for navigation -->
{% set active_page = "learn" %}

<!-- Block Head -->
{% block head %}
<title>Learn • Felis Catus</title>
{% endblock %}

<!-- Block Body -->
{% block body %}


<center class="focus-in-expand-fwd">
  <h1 style="font-size: 50px;">Learn</h1>
  <hr style="width: 40%;">
  <p>Get ready to learn everything about domestic cats!</p>
</center>
<!-- Interactive button w/ animation -->
<section id="scrollDown" class="scroll">
  <a href="#1"><span></span>Scroll Down</a>
</section>





{% endblock %}