{% extends "base.html" %}
<!-- Initialise active page for navigation -->
{% set active_page = "legal" %}

<!-- Block Head -->
{% block head %}
<title>Legal • Felis Catus</title>
{% endblock %}

<!-- Block Body -->
{% block body %}

<!-- 
  Content
-->
<div class="container text-start">
  <div class="row row-cols-1">
    <!-- Privacy Policy -->
    <div class="col" id="heading-col">
      <h1>Privacy Policy</h1>
      <hr>
      <p><span class="fst-italic fw-medium">Felis Catus</span> is an interactive web application created by Christopher Khim.</p>
      <p>The privacy policy describes our policies and the process of collection, organising, and processing of your information when you use our service.</p>
      <p>By using our services, you agree to the collecting and usage of your personal information for the purpose of our service, in accordance with the privacy policy. </p>
    </div>


    <!-- Copyright -->
    <div class="col" id="heading-col">
      <h1>Copyright</h1>
      <hr>
      <h2>What is Copyright?</h2>
      <p>Copyright is the right to use, copy, or control the work of authors or copyright holders. It protects the owner’s rights to control how their product is used, however, it only protects the expression or original ideas and not the user of the same idea. Personnels must seek permission of the copyright holder for any material that is used in a product. Graphics, texts, modules, and other media types must not be used unless approved by the copyright holder. If the works are used in a way that violates copyright laws, legal action may be taken. </p>
    </div>

  <!-- Data Management -->
  <div class="col" id="heading-col">
    <h1>Data Management</h1>
    <hr>
    <h2>Collecting and Using Personal Data</h2>
    <p>While using our service, you may be asked to provide us with certain data that enables us to identify you. Personal information may include, but not limited to:</p>
    <ul>
      <li>Name</li>
      <li>Email</li>
    </ul>
    <p>Your </p>


    <!-- Information from Third-Party Services -->
    <h2>Information from Third-Party Services</h2>
    <p>adad</p>
  </div>

</div>


<div class="container text-center">
  <!-- Return to home page -->
  <div class="row col" style="margin-top: 10%;"><center>
    <a class="btn btn-secondary" type="button" href="/" role="button" style="font-size: x-large; min-width: 10%;">Back</a>
  </center></div>
</div>
{% endblock %}