{% extends "base.html" %}
<!-- Initialise active page for navigation -->
{% set active_page = "legal" %}

<!-- Block Head -->
{% block head %}
<title>Legal • Felis Catus</title>
{% endblock %}

<!-- Block Body -->
{% block body %}

<!-- 
  Content
-->
<div class="container text-start">
  <div class="row row-cols-1" style="margin-top: 14%;">
    <!-- Privacy Policy -->
    <div class="col" id="heading-col">
      <h1>Privacy Policy</h1>
      <hr>
      <p><span class="fst-italic fw-medium">Felis Catus</span> is an interactive web application created by Christopher Khim.</p>
      <p>The privacy policy describes our policies and the process of collection, organising, and processing of your information when you use our service.</p>
      <p>By using our services, you agree to the collecting and usage of your personal information for the purpose of our service, in accordance with the privacy policy. </p>
    </div>


    <!-- Copyright -->
    <div class="col" id="heading-col">
      <h1>Copyright</h1>
      <hr>
      <h2>What is Copyright?</h2>
      <p>To preserve the rights of authors and developers from theft and software piracy, the Copyright Act 1968 (Cwlth) was amended to suit the technological advancements of contemporary society including computer programs, and to protect the work of the author’s and developer’s intellectual property. </p>
      <p>Copyright is the right to use, copy, or control the work of authors or copyright holders. It protects the owner’s rights to control how their product is used, however, it only protects the expression or original ideas and not the user of the same idea. Personnels must seek permission of the copyright holder for any material that is used in a product. Graphics, texts, modules, and other media types must not be used unless approved by the copyright holder. If the works are used in a way that violates copyright laws, legal action may be taken. </p>
    </div>

  <!-- Data Management -->
  <div class="col" id="heading-col">
    <h1>Data Management</h1>
    <hr>
    <h2>Collecting and Using Personal Data</h2>
    <p>While using our service, you may be asked to provide us with certain data that enables us to identify you. Personal information may include, but not limited to:</p>
    <ul>
      <li>Username</li>
      <li>Email Address</li>
    </ul>
    <p>Your information is safely secured in a external storage device and on the cloud for backup and privacy and security purposes. This will not be leaked or be stolen in any way, so rest assured!</p>

    <!-- Information from Third-Party Services -->
    <h2>Information from Third-Party Services</h2>
    <p>Our service uses a third-party service in which we call an API. An API, Application Programming Interface, refers to a platform that can be though of as a contract of service between a multitude of applications.</p>
    <p>This API is used to retrieve information from the Wikipedia API. The Wikipedia API is an open-source API that allows developers to retrieve information from Wikipedia. </p>
    <p>This API is used to retrieve information from the Cat API. The Cat API is an open-source API that allows developers to retrieve information from the Cat API. </p>

    <!-- Licencing and Social & Ethical Considerations -->
    <h2>Licencing and Social & Ethical Considerations</h2>
    <p>Licencing is the permission for using a third-party service. In this case, I reused sources of information such as the collection of cat images and the information relating to it. </p>
    <p><b>Creative Commons Licenses:</b> Following the licence’s terms and conditions, I could reuse materials legally protected by this licence. This allowed me to handpick images and educational resources for the purpose of creating an interactive user interface. </p>
    <p><b>Stock Images and music:</b> Accessing stock images from a free online resource called Freepik, ensuring that all collected content was legally obtained and properly credited to the authors.  </p>
    <div class="gap"></div>
    <p>Additionally, ethical issues were considered for the successfulness of this project.</p>
    <p><b>Crediting the author’s Intellectual Property:</b> By crediting and respecting the author’s creative work, the website conforms to the Copyright laws and provides users with the origin of the author's work. </p>
  </div>

</div></div>


{% endblock %}