{% extends "base.html" %}
<!-- Initialise active page for navigation -->
{% set active_page = "login" %}

<!-- Block Head -->
{% block head %}
<title>Sign in • Felis Catus</title>
{% endblock %}

<!-- Block Body -->
{% block body %}
<h1 style="text-align: center;"><span class="fst-italic fw-medium">Felis Catus</span></h1>


<!-- 
  Form
-->
<div class="container text-start" style="max-width: 60%;">
  <form method="POST" action="/login" target="_self">
    <!-- Email -->
    <div class="mb-3">
      <label for="Email" class="form-label">Email address</label>
      <input type="email" class="form-control" id="Email" aria-describedby="emailHelp" name="login-email" placeholder="johnsmith@example.com">
      <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
    </div>

    <!-- Username -->
    <div class="mb-3">
      <label for="Username" class="form-label">Username</label>
      <input type="text" class="form-control" aria-label="Username" placeholder="John" name="login-username">
      <div class="form-text">What shall we address you?</div>
    </div>

    <!-- Password -->
    <div class="mb-3">
      <label for="inputPassword5" class="form-label">Password</label>
      <input type="password" id="inputPassword5" class="form-control" aria-describedby="passwordHelpBlock" placeholder="Smith" name="login-password">
      <div id="passwordHelpBlock" class="form-text">
        Your password must be 8-20 characters long, contain letters and numbers, and must not contain spaces, special characters, or emoji.
      </div>
    </div>

    <!-- Login / register button -->
    <center>
      <hr style="width: 40%;">
      <div class="row" style="padding: 6%;">
        <div class="col">
          <button type="submit" class="btn btn-primary" style="font-size: x-large; min-width: 50%;">Login / Register</button>
        </div>
      </div>

    <!-- Back button -->
      <div class="row">
        <div class="col">
          <a class="btn btn-secondary" type="button" href="/" role="button" style="font-size: x-large; min-width: 30%;">Back</a>
        </div>
      </div>
    </center>
  </form>
</div>


{% endblock %}