{% extends "/users/user-base.html" %}
<!-- Initialise active page for navigation -->
{% set active_page = "browse" %}


<!-- Block Head -->
{% block head %}
<title>Browse • Felis Catus</title>
{% endblock %}

<!-- Block Body -->
{% block body %}
<div class="parallax"><div id="background" style="padding: 18% 0;">
  <center class="focus-in-expand-fwd">
      <h1 style="font-size: 50px;">Browse</h1>
      <hr style="width: 40%;">
      <p>Just like a search engine, but random cats!</p>
  </center>
  <!-- Interactive button w/ animation -->
  <section id="scrollDown" class="scroll">
    <a href="#1" style="color: white;"><span style="border-color: white;"></span>Scroll Down</a>
  </section>
</div></div>


<!-- 
  Form to POST user request 
-->
<div class="container text-center" id="searchResult">
  <form class="row row-cols-2 text-center" method="POST" action="/home/browse" target="_self" style="padding-top: 8%; padding-bottom: 4%;" id="1">
    <div class="col-11">
      <input type="text" name="search" placeholder="🔎 Search" style="max-width: 80vw" class="form-control border border-black">
    </div>
    <div class="col-1">
      <button type="submit" class="btn btn-primary" value="Search">Search</button>
    </div>
  </form>
</div>


<!-- 
  Getting random cat image
-->
<div class="container text-center border border-black rounded-3 border-5" style="overflow: hidden;">
  {% if check == True %}
  <div class="row col">
    <p>You have searched for: <span style="text-decoration: line-through;">{{search_term}}</span></p>
    <div class="cat_information">
      <h2 id="breed_name" style="padding-top: 2%;"></h2>
    </div>
  </div>


  <div class="row row-cols-2 text-start">
    <!-- Cat Image -->
    <div class="col">
        <div><img id="cat_image" class="img"></img></div>
    </div>
      
    <!-- Cat Information -->
    <div class="col">
      <div class="cat_information">
        <b>Origin: </b><div id="origin"></div><br />
        <b>Temperament: </b><div id="breed_json"></div><br />
        <b>Life Span: </b><div id="life_span"></div><br />
        <b>Description: </b><div id="description"></div><br />
        <b>Wikipedia: </b><a id="wiki_link" target="_blank"></a><br />
      </div>
    </div>
  </div>
  {% else %}
  <h1 class="pulsate-fwd" style="padding: 20% 10%;">Displaying zero results...</h1>
      
  {% endif %}    
</div>


{% endblock %}