{% extends "/users/user-base.html" %}

<!-- Block Head -->
{% block head %}
<title>Connect • Felis Catus</title>
{% endblock %}

<!-- Block Body -->
{% block body %}
<!-- Padding between content and navigation bar -->
<div style="padding-top: 8%;"></div>

<center>
    <h1 style="font-size: 50px;" class="focus-in-expand-fwd">Connect</h1>
    <hr style="width: 40%;">
    <p>[enter short description of page]</p>
    <!-- Interactive button w/ animation -->
    <section id="scrollDown" class="scroll">
        <a href="#1"><span></span>Scroll Down</a>
    </section>
</center>


<div class="container text-center" style="margin-top: 30%;" id="1">
    <div class="row col border border-4" style="padding: 2%;">
        <center><h2><img src="/static/t6w5tgw9.png" class="rounded float-start" alt="cat" width="10%" height="auto">User #1 with profile picture and name</h2>
    </div>
</div>


{% endblock %}