{% extends "/users/user-base.html" %}

<!-- Block Head -->
{% block head %}
<title>Home • Felis Catus</title>
{% endblock %}

<!-- Block Body -->
{% block body %}
<div class="hero-image" style="padding-bottom: 15%;">
  <div class="container text-start" style="padding-top: 20%;">
    <div class="row col">
      <h1>Welcome, {{username}}!</h1>
      <hr>
    </div>
    <div class="row col">
      <p>[insert daily cat fact API]</p>
    </div>
  </div>
</div>

<!-- Buttons -->
<div class="container text-center" style="margin-top: 6%;">
  <div class="row row-cols-2">
    <div class="d-grid gap-2 col-6">
      <a class="btn btn-outline-primary" type="button" href="/home/{{ username }}/favourites" role="button" style="font-size: 2vw;"><i class="bi bi-bookmark-check-fill" style="color: red;"></i> Favourites</a>
      <a class="btn btn-outline-primary" type="button" href="/home/{{ username }}/share" role="button" style="font-size: 2vw;"><i class="bi bi-share"></i> Share</a>
    </div>
    <div class="d-grid gap-2 col-6">
      <a class="btn btn-outline-primary" type="button" href="/home/{{ username }}/connect" role="button" style="font-size: 2vw;"><i class="bi bi-people-fill"></i> Connect</a>
      <a class="btn btn-outline-primary" type="button" href="/home/{{ username }}/learn" role="button" style="font-size: 2vw;"><i class="bi bi-journal-text" style="color: brown;"></i> Learn</a>
    </div>
  </div>
</div>


<!-- 
  Form to POST user request 
-->
<div class="container text-center">
  <form class="row row-cols-2 text-center" method="POST" action="/home/{{ username }}" target="_self" style="padding-top: 8%; padding-bottom: 4%;">
      <div class="col-11">
        <input type="text" name="search" placeholder="🔎 Search" style="max-width: 80vw" class="form-control border border-black">
      </div>
      <div class="col-1">
        <button type="submit" class="btn btn-primary">Search</button>
      </div>
  </form>
</div>


<div class="container text-center">
  <div class="row col border rounded-3 border-5" style="margin: 1vw;">
    {% if check == True %}
      <h3>You have searched for: <span style="text-decoration: line-through;">{{search_term}}</span> Cat</h3>
      <img src="{{ image_url }}" alt="Cat" height="{{ height }}" width="auto">
    {% else %}
      <p>no results</p>
    {% endif %}
  </div>
</div>


{% endblock %}