{% extends "/users/user-base.html" %}
<!-- Initialise active page for navigation -->
{% set active_page = "home" %}

<!-- Block Head -->
{% block head %}
<title>Home • Felis Catus</title>
{% endblock %}

<!-- Block Body -->
{% block body %}
<div class="parallax"><div id="index" style="padding-bottom: 20%;">
  <div class="container text-start" style="padding-top: 13%;">
    <div class="row col slide-in-elliptic-left-fwd">
      {% if username != "" %}
      <h1 style="font-size: 10vw;">Welcome, {{username}}!</h1>
      {% else %}
      <h1 style="font-size: 10vw;">Welcome!</h1>
      {% endif %}
      <hr>
    </div>
  </div>
  <!-- Interactive button w/ animation -->
  <section id="scrollDown" class="scroll">
    <a href="#1" style="color: white;"><span style="border-color: white;"></span>Scroll Down</a>
  </section>
</div></div>

<hr id="1">
<!-- Buttons -->
<div class="container text-center" style="margin-top: 6%;">
  <div class="row row-cols-2">
    <div class="d-grid gap-2 col-6">
      <a class="btn btn-outline-primary" type="button" href="/home/browse" role="button" style="font-size: 2vw;"><i class="bi bi-share"></i> Browse</a>
      <a class="btn btn-outline-primary" type="button" href="/home/learn" role="button" style="font-size: 2vw;"><i class="bi bi-bookmark-check-fill"></i> Learn</a>
    </div>
    <div class="d-grid gap-2 col-6">
      <a class="btn btn-outline-primary" type="button" href="/home/vocal" role="button" style="font-size: 2vw;"><i class="bi bi-journal-text"\></i> Vocal</a>
      <a class="btn btn-outline-primary" type="button" href="/home/random" role="button" style="font-size: 2vw;"><i class="bi bi-dice-5"></i> Random</a>
    </div>
  </div>
</div>

{% endblock %}