{% extends "/users/user-base.html" %}
<!-- Initialise active page for navigation -->
{% set active_page = "listen" %}


<!-- Block Head -->
{% block head %}
<title>Listen • Felis Catus</title>
{% endblock %}

<!-- Block Body -->
{% block body %}

<div class="parallax"><div id="background" style="padding: 18% 0;">
  <center class="focus-in-expand-fwd">
    <h1 style="font-size: 50px;">Listen</h1>
    <hr style="width: 40%;">
    <p>Hear the vocal communication of our feline comrades!</p>
  </center>
  <!-- Interactive button w/ animation -->
  <section id="scrollDown" class="scroll">
    <a href="#1" style="color: white;"><span style="border-color: white;"></span>Scroll Down</a>
  </section>
</div></div>

<!-- List of audio -->
<div class="container text-start" style="margin-top: 10%;" id="1">

  <div class="row row-cols-3">
    <div class="col text-center" style="margin: 3% 0;" data-aos="fade-in-left" data-aos-duration="1500">
      <h4>Cats Purring - Close</h4>
      <audio controls><source src="/static/audio/Cats-Purring-Close.wav" type="audio/wav">Your browser does not support the audio element.</audio>
    </div>

    <div class="col text-center" style="margin: 3% 0;" data-aos="fade-in-down" data-aos-duration="1500">
      <h4>Cat Crying 01</h4>
      <audio controls><source src="/static/audio/Crying1.wav" type="audio/wav">Your browser does not support the audio element.</audio>
    </div>

    <div class="col text-center" style="margin: 3% 0;" data-aos="fade-in-right" data-aos-duration="1500">
      <h4>Cats Crying 02</h4>
      <audio controls><source src="/static/audio/Crying2.wav" type="audio/wav">Your browser does not support the audio element.</audio>
    </div>

    <div class="col text-center" style="margin: 3% 0;" data-aos="fade-in-left" data-aos-duration="1500">
      <h4>Cat Eating</h4>
      <audio controls><source src="/static/audio/Eating.wav" type="audio/wav">Your browser does not support the audio element.</audio>
    </div>

    <div class="col text-center" style="margin: 3% 0;" data-aos="fade-in-down" data-aos-duration="1500">
      <h4>Cat Growling</h4>
      <audio controls><source src="/static/audio/Growling.wav" type="audio/wav">Your browser does not support the audio element.</audio>
    </div>

    <div class="col text-center" style="margin: 3% 0;" data-aos="fade-in-right" data-aos-duration="1500">
      <h4>Cat Licking / Washing</h4>
      <audio controls><source src="/static/audio/Licking.wav" type="audio/wav">Your browser does not support the audio element.</audio>
    </div>

    <div class="col text-center" style="margin: 3% 0;" data-aos="fade-in-left" data-aos-duration="1500">
      <h4>Cat Meowing 01</h4>
      <audio controls><source src="/static/audio/Meow1.wav" type="audio/wav">Your browser does not support the audio element.</audio>
    </div>

    <div class="col text-center" style="margin: 3% 0;" data-aos="fade-in-down" data-aos-duration="1500">
      <h4>Cat Meowing 02</h4>
      <audio controls><source src="/static/audio/Meow2.wav" type="audio/wav">Your browser does not support the audio element.</audio>
    </div>

    <div class="col text-center" style="margin: 3% 0;" data-aos="fade-in-right" data-aos-duration="1500">
      <h4>Cat Meowing 03</h4>
      <audio controls><source src="/static/audio/Meow3.wav" type="audio/wav">Your browser does not support the audio element.</audio>
    </div>

    <div class="col text-center" style="margin: 3% 0;" data-aos="fade-in-left" data-aos-duration="1500">
      <h4>Cat Meowing 04</h4>
      <audio controls><source src="/static/audio/Meow4.wav" type="audio/wav">Your browser does not support the audio element.</audio>
    </div>

    <div class="col text-center" style="margin: 3% 0;" data-aos="fade-in-down" data-aos-duration="1500">
      <h4>Cat Meowing 05</h4>
      <audio controls><source src="/static/audio/Meow5.wav" type="audio/wav">Your browser does not support the audio element.</audio>
    </div>

    <div class="col text-center" style="margin: 3% 0;" data-aos="fade-in-right" data-aos-duration="1500">
      <h4>Cat Meowing 06</h4>
      <audio controls><source src="/static/audio/Meow6.wav" type="audio/wav">Your browser does not support the audio element.</audio>
    </div>

    <div class="col text-center" style="margin: 3% 0;" data-aos="fade-in-left" data-aos-duration="1500">
      <h4>Cat Mourning</h4>
      <audio controls><source src="/static/audio/Mourning.wav" type="audio/wav">Your browser does not support the audio element.</audio>
    </div>

    <div class="col text-center" style="margin: 3% 0;" data-aos="fade-in-down" data-aos-duration="1500">
      <h4>Cat Purring</h4>
      <audio controls><source src="/static/audio/Purring.wav" type="audio/wav">Your browser does not support the audio element.</audio>
    </div>

    <div class="col text-center" style="margin: 3% 0;" data-aos="fade-in-right" data-aos-duration="1500">
      <h4>Cat Meowing - Sad 01</h4>
      <audio controls><source src="/static/audio/SadMeow1.wav" type="audio/wav">Your browser does not support the audio element.</audio>
    </div>

    <div class="col text-center" style="margin: 3% 0;" data-aos="fade-in-left" data-aos-duration="1500">
      <h4>Cat Meowing - Sad 02</h4>
      <audio controls><source src="/static/audio/SadMeow2.wav" type="audio/wav">Your browser does not support the audio element.</audio>
    </div>

    <div class="col text-center" style="margin: 3% 0;" data-aos="fade-in-down" data-aos-duration="1500">
      <h4>Cat Scratching around ear</h4>
      <audio controls><source src="/static/audio/Scratching-around-ear.wav" type="audio/wav">Your browser does not support the audio element.</audio>
    </div>

    <div class="col text-center" style="margin: 3% 0;" data-aos="fade-in-right" data-aos-duration="1500">
      <h4>Cat Scratching hard surface</h4>
      <audio controls><source src="/static/audio/Scratching-hard-surface.wav" type="audio/wav">Your browser does not support the audio element.</audio>
    </div>
  </div>

  <div class="row" data-aos="fade-in" data-aos-duration="1500">
    <hr style="margin-top: 10%;">
    <div class="col text-center" style="margin: 3% 0;">
      <h2>Interested for more? Check out videos we recommend!</h2>
    </div>
  
    <div class="row row-cols-2">
    <div class="row col" data-aos="zoom-in-left" data-aos-duration="1500">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/gfRFsAQGBEs?si=Z0EmpY1jnrRx3b22" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
    <div class="row col" data-aos="zoom-in-right" data-aos-duration="1500">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/TjmOWZ3y9gg?si=w0OkJjfL5_B2obGA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
  </div>
</div>
</div>



{% endblock %}