{% extends "/users/user-base.html" %}

<!-- Block Head -->
{% block head %}
<title>{{search_term}} • Felis Catus</title>
{% endblock %}

<!-- Block Body -->
{% block body %}
<img src="{{ image_url }}" alt="Cat" max-width="50%" max-height="auto">
<p>You have searched for: <span style="text-decoration: line-through;">{{search_term}}</span> Cat</p>
{% if request.method == 'POST': %}
<div class="container text-center">
<div class="row col border border-4" style="padding: 2%;">
    {% include '/users/Home.html' %}
</div>
</div>
{% endif %}
{% endblock %}